.texthover:hover {
    color: #262626 !important;
    background-color: whitesmoke;
    transition: 0.2s all ease-in-out;
}

@media (max-width: 767.98px) {
    .img-class {
        height: 40px;
    }
}

@media (max-width: 767.98px) {
    .collapsible {
        display: none;
    }
}
