.texthover:hover {
    color: #262626 !important;
    background-color: whitesmoke;
    transition: 0.2s all ease-in-out;
}

@media (max-width: 767.98px) {
    .img-class {
        height: 40px;
    }
}

@media (max-width: 767.98px) {
    .collapsible {
        display: none;
    }
}

  .dropdown-css {
    float: left;
    overflow: hidden;
    cursor: pointer;
  }

  .dropdown-css .dropbtn-css {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    margin: 0;
  }

  .dropdown-content-css {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content-css a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content-css a:hover {
    background-color: #ddd;
  }

  .dropdown-css:hover .dropdown-content-css {
    display: block;
  }


